<%- include ('partials/header.ejs') %>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <a class="btn btn-dark" href="/pergunta/3">Testar link</a>
        <div class="container">
            <hr>
            <h2> Perguntas</h2>
            <a href="/perguntar" class="btn btn-light"> Perguntar</a>
            <hr>
            <% perguntas.forEach(pergunta => { %>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h4><%= pergunta.titulo %></h4>
                    </div>
                    <div class="card-footer">
                        <a href="/pergunta/<%= pergunta.id %>"> <button class="btn btn-dark">Responder</button></a>
                    </div>
                </div>
            <% }); %>
        </div>

    </body>
<%- include ('partials/footer.ejs') %>
